{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}

{%- set caseReferenceItems = [
    {
        value: "all",
        text: "All case references",
        checked: ("all" in filters.byCaseReferences),
        behaviour: "exclusive"
    },
    {
        value: "none",
        text: "No case reference",
        checked: ("none" in filters.byCaseReferences),
        behaviour: "exclusive"
    }
] -%}

{% if filters.facets['caseReferences'].values.length > 0 %}
    {%- set caseReferenceItems = (caseReferenceItems.push({
        divider: "or"
    }), caseReferenceItems) -%}
{% endif %}

{%- for caseReference in filters.facets['caseReferences'].values -%}
    {%- set caseReferenceItems = (caseReferenceItems.push({
        value: caseReference.value,
        text: caseReference.value + " (" + caseReference.count + ")",
        checked: (caseReference.value in filters.byCaseReferences)
    }), caseReferenceItems) -%}
{%- endfor -%}

{%- set filterOptionsHtml %}
    {{ govukRadios({
        idPrefix: "showing",
        name: "showing",
        classes: "govuk-radios--small",
        fieldset: {
            legend: {
                text: "Showing",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                text: "New documents" + " (" + filters.facets['isUnread'].values[0].count + ")",
                value: "new",
                checked: (filters.showing === "new")
            },
            {
                text: "All documents",
                value: "all",
                checked: (filters.showing === "all")
            }
        ]
    }) }}

    {{ govukCheckboxes({
        name: "byCaseReference",
        classes: "govuk-checkboxes--small",
        fieldset: {
            legend: {
                text: "Case reference",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: caseReferenceItems
    }) }}
{% endset -%}

<div class="moj-filter-layout__filter">
<form id="documentFiltersForm" action="/prisoner/{{ prisoner.prisonerNumber }}/documents?test=tomas" method="GET">
{# TODO (CDIA-????): Uncomment selectedFilters when we can have multiple-selectino filters. For now all are radio buttons, so no need to show selected filters. #}
    {{ mojFilter({
    heading: {
        text: "Filter"
    },

    submit: {
        attributes: {
            "data-test-id": "submit-button"
        }
    },
    optionsHtml: filterOptionsHtml
    }) }}
    {# selectedFilters: {

        heading: {
        text: "Selected filters"
        },

        clearLink: {
        text: "Clear filters"
        },

        categories: [
        {
            heading: {
            text: "Showing"
            },
            items: [{
            href: "#",
            text: "All documents"
            }]
        },
        {
            heading: {
            text: "Case reference"
            },
            items: [{
            href: "#",
            text: "All case references"
            }]
        }
        ]
    }, #}
    <input type="hidden" name="sortBy" value="{{ filters.pagination.sortBy }}" />
    <input type="hidden" name="pageNumber" value="1" />
</form>
</div>
