{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}

{%- set caseReferenceItems = [
    {
        value: "all",
        text: "All case references",
        checked: ("all" in filters.byCaseReferences),
        behaviour: "exclusive"
    },
    {
        value: "none",
        text: "No case reference",
        checked: ("none" in filters.byCaseReferences),
        behaviour: "exclusive"
    }
] -%}

{% if filters.facets['caseReferences'].values.length > 0 %}
    {%- set caseReferenceItems = (caseReferenceItems.push({
        divider: "or"
    }), caseReferenceItems) -%}
{% endif %}

{%- for caseReference in filters.facets['caseReferences'].values -%}
    {%- set caseReferenceItems = (caseReferenceItems.push({
        value: caseReference.value,
        text: caseReference.value + " (" + caseReference.count + ")",
        checked: (caseReference.value in filters.byCaseReferences)
    }), caseReferenceItems) -%}
{%- endfor -%}

{%- set filterOptionsHtml %}
    {{ govukRadios({
        idPrefix: "showing",
        name: "showing",
        classes: "govuk-radios--small",
        fieldset: {
            legend: {
                text: "Showing",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                text: "New documents" + " (" + filters.facets['isUnread'].values[0].count + ")",
                value: "new",
                checked: (filters.showing === "new")
            },
            {
                text: "All documents",
                value: "all",
                checked: (filters.showing === "all")
            }
        ]
    }) }}

    {{ govukCheckboxes({
        name: "byCaseReference",
        classes: "govuk-checkboxes--small",
        fieldset: {
            legend: {
                text: "Case reference",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: caseReferenceItems
    }) }}
{% endset -%}

{% set selectedFilterCategories = [] %}

{%- set selectedFilterCategories = (selectedFilterCategories.push({
    heading: {
        text: 'Showing'
    },
    items: [
        {
            text: "New documents" if (filters.showing === "new") else "All documents",
            href: filters.removeFilterLink.showing
        }
    ]
    }), selectedFilterCategories) %}

{%- set caseReferenceRemoveFilters = [] %}

{%- for caseReference in filters.byCaseReferences -%}
    {%- set caseReferenceRemoveFilters = (caseReferenceRemoveFilters.push({
        text: "All case references" if (caseReference === "all") else ("No case reference" if (caseReference === "none") else caseReference),
        href: filters.removeFilterLink.caseReferences[caseReference]
    }), caseReferenceRemoveFilters) -%}
{%- endfor -%}

{%- set selectedFilterCategories = (selectedFilterCategories.push({
    heading: {
        text: 'Case reference'
    },
    items: caseReferenceRemoveFilters
}), selectedFilterCategories) -%}

<div class="moj-filter-layout__filter">
<form id="documentFiltersForm" action="/prisoner/{{ prisoner.prisonerNumber }}/documents" method="GET">
    {{ mojFilter({
    heading: {
        text: "Filter"
    },

    submit: {
        attributes: {
            "data-test-id": "submit-button"
        }
    },

    selectedFilters: {
        heading: {
            text: "Selected filters"
        },
        clearLink: {
            text: "Clear filters",
            href: "/prisoner/" + prisoner.prisonerNumber + "/documents"
        },

        categories: selectedFilterCategories
    },

    optionsHtml: filterOptionsHtml
    }) }}

    <input type="hidden" name="sortBy" value="{{ filters.pagination.sortBy }}" />
</form>
</div>
