{%- from "govuk/components/button/macro.njk" import govukButton -%}

<form method="post"
        class="govuk-!-margin-bottom-0"
        action="/prisoner/{{ prisoner.prisonerNumber }}/documents/{{ document.documentUuid }}/mark-as-new">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="showing" value="{{ filters.showing }}" />

    {% for caseRef in filters.byCaseReferences %}
        <input type="hidden" name="byCaseReference" value="{{ caseRef }}" />
    {% endfor %}

    <input type="hidden" name="sortBy" value="{{ filters.pagination.sortBy }}">
    <input type="hidden" name="pageNumber" value="{{ filters.pagination.pageNumber }}">

    {{ govukButton({
        html: 'Mark as new<span class="govuk-visually-hidden"> ' + document.typeDescription + '</span>',
        classes: "ccrd-button--link",
        attributes: { "data-qa": "mark-as-new-" + document.documentUuid }
    }) }}
</form>
