<details class="govuk-details court-case-details-card__details filter show-toggle" id="toggle-all-court-cases-details">
    <summary class="govuk-details__summary" id="toggle-all-court-cases-summary">
        <span class="govuk-details__summary-text">all offences and sentence details</span>
    </summary>
</details>