{% extends "../../partials/layoutWithoutSubNav.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "hmpps/components/court-cases-release-dates/service-header/macro.njk" import serviceHeader %}
{% from "hmpps/components/court-cases-release-dates/latest-calculation-card/macro.njk" import latestCalculationCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmpps/components/court-cases-release-dates/things-to-do/macro.njk" import thingsToDo %}
{% from "../../components/court-case-details-card/macro.njk" import courtCaseDetailsCard %}

{% set pageTitle = "Court cases and release dates - overview" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ thingsToDo(feedbackPromptServiceDefinition, 'feedbackPrompt') }}
            <h1 class="govuk-heading-xl">Court case and release dates</h1>
            <h2 class="govuk-heading-l">Release dates</h2>
            {% if latestCalculationConfig %}
                {{ latestCalculationCard(latestCalculationConfig) }}
                <p class="govuk-body govuk-!-margin-top-4">
                    <a data-qa="release-date-definitions-link" href="{{ releaseDateDefinitionsUrl }}">What do these release dates mean?</a>
                </p>
            {% endif %}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            {{  courtCaseDetailsCard(courtCaseDetailModels, offenceMap, offenceOutcomeMap) }}
        </div>
    </div>

{% endblock %}