{% extends "../../partials/layout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - " + model.dateLabel %}
{% set pageId = "court-documents-day" %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back to the week", href: model.weekHref }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-padding-top-4">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">{{ model.prisonName }}</span>
      <h1 class="govuk-heading-xl">{{ model.dateLabel }}</h1>

      {% if model.list.isEmpty %}
        {% set nothingMessage = "No court documents arrived for the people held here on this day." %}
        {% include "./_nothing.njk" %}
      {% else %}
        {% set list = model.list %}
        {% include "./_summary.njk" %}
        {% include "./_hearings.njk" %}
      {% endif %}

    </div>
  </div>

{% endblock %}
